# App
APP_NAME=Distributed Cache System
DEBUG=True

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
CACHE_TTL=300

# PostgreSQL
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=your_username_here
POSTGRES_PASSWORD=your_password_here
POSTGRES_DB=cachedb
